<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MongoDB Collection Exporter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'normalize' %>
  <%= stylesheet_link_tag 'skeleton' %>
  <%= stylesheet_link_tag 'theme' %>
</head>
<body>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
